<?xml version="1.0" encoding="UTF-8"?>
<actuator xmlns:xacro="http://wiki.ros.org/xacro">

    <xacro:arg name="single_finger" default="false" />
    <xacro:arg name="no_wrist" default="false" />

    <!-- A total of 34 muscles -->

    <!-- TODO: IN PROGRESS: Interosseis' location -->
    <!-- Dorsal interossei I doesn't flex regularly -->
    <!-- Add site for flexors too -->
    <!-- Huge forces cause joint limits to be violated. Remove soft constraints -->
    <!-- Tendon damping, Joint Damping and friction -->
    <!-- For RL don't limit control -->
    <!-- For RL - Dorsal Interossei muscle count. Understand the effect of sites on the dynamics and moment computation. See what constraint can help, or use pulley -->
    <!-- adductor_pollicis_oblique is leading to Lateral rotation at the TMC joint change the line of action by adding a distal site-->
    <xacro:property name="carpal_tendons" value="${[
    'flexor_carpi_radialis', 'flexor_carpi_ulnaris',
    'extensor_carpi_radialis', 'extensor_carpi_ulnaris' ]}" />

    <xacro:property name="pollicis_tendons" value="${[
    'adductor_pollicis_oblique', 'adductor_pollicis_transverse',
    'abductor_pollicis_brevis', 'abductor_pollicis_longus',
    'flexor_pollicis_brevis', 'flexor_pollicis_longus',
    'extensor_pollicis_brevis', 'extensor_pollicis_longus',
    'opponens_pollicis'
    ]}" />

    <xacro:property name="digiti_minimi_specific_tendons" value="${['opponens_digiti_minimi']}" />

    <xacro:property name="digitorum_tendons" value="${[
        'dorsal_interossei', 'palmar_interossei',
        'extensor_communis', 'flexor_profundus',
        'flexor_superficialis']}" />


    <xacro:macro name="hand_actuators" params="hand_name">
        <!-- MACRO TO UNROLL LOOP -->
        <xacro:macro name="make_actuators" params="tendons:=^ ctrlrange:='0 5' index:='0'">
            <xacro:if value="${tendons}">
                <!-- pop first item from list -->
                <xacro:property name="tendon_name" value="${tendons.pop(0)}"/>

                <xacro:unless value="${index != '0'}">
                    <general name="${hand_name}_${tendon_name}_actuator" tendon="${hand_name}_${tendon_name}"
                        gaintype="fixed" biastype="none" gainprm="-1" biasprm="0" ctrllimited="true" ctrlrange="${ctrlrange}"/>
                    
                    <!-- recursively call make_actuators -->
                    <xacro:make_actuators ctrlrange="${ctrlrange}" />
                </xacro:unless>

                <xacro:if value="${index != '0'}">
                    <general name="${hand_name}_${tendon_name}_${index}_actuator" tendon="${hand_name}_${tendon_name}_${index}"
                        gaintype="fixed" biastype="none" gainprm="-1" biasprm="0" ctrllimited="true" ctrlrange="${ctrlrange}"/>
                    
                    <!-- recursively call make_actuators -->
                    <xacro:make_actuators ctrlrange="${ctrlrange}" index="${index}" />
                </xacro:if>

            </xacro:if>
        </xacro:macro>


        <!-- Create a List of Muscles -->
        <!-- Carpal Tendon Actuators -->
        <xacro:property name="s_finger" value="$(arg single_finger)" />
        <xacro:property name="n_wrist" value="$(arg no_wrist)" />
        <xacro:unless value="${s_finger or n_wrist}">
            <xacro:make_actuators tendons="${list(carpal_tendons)}" ctrlrange="0 10"/>
        </xacro:unless>

        <!-- Digit II -->
        <xacro:make_actuators tendons="${list(digitorum_tendons)}" index="ii" ctrlrange="0 5"/>

        <!-- Pollicis, Digit III-V, Digiti Minimi Specific Tendon Actuators -->
        <xacro:unless value="$(arg single_finger)">
            <xacro:make_actuators tendons="${list(pollicis_tendons)}" ctrlrange="0 5"/>

            <xacro:make_actuators tendons="${list(digitorum_tendons)}" index="iii" ctrlrange="0 5"/>
            <xacro:make_actuators tendons="${list(digitorum_tendons)}" index="iv" ctrlrange="0 5"/>
            <xacro:make_actuators tendons="${list(digitorum_tendons)}" index="v" ctrlrange="0 5"/>

            <xacro:make_actuators tendons="${list(digiti_minimi_specific_tendons)}" ctrlrange="0 5"/>
        </xacro:unless>
    </xacro:macro>

    <xacro:hand_actuators hand_name="hand1" />
    <!-- <xacro:hand_actuators hand_name="hand2" />
    <xacro:hand_actuators hand_name="hand3" /> -->
</actuator>